<div class="titulo">
  <h2>Clientes</h2>
  <hr />
</div>

<p-card>
  <h3>Consultar Cliente</h3>
  <div class="p-grid">
    <div class="p-col-12 p-justify-center p-col-align-center">
      <p-button label="Novo Cliente" class="novo" (onClick)="novoCliente()" icon="pi pi-plus-circle "></p-button>
    </div>
  </div>
  <p-table [columns]="colunas" [value]="clientes" [rows]="10" styleClass="ui-table-customers" [autoLayout]="true"
    [paginator]="true" [rowHover]="true" [rowsPerPageOptions]="[10,25,50]">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of colunas" [pSortableColumn]="col.parametro">
          {{ col.cabecalho }}
          <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th>
          Ações
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente let-coluna>
      <tr>
        <td *ngFor="let col of colunas">
          {{ cliente[col.parametro] }}
        </td>
        <td>
          <button pButton type="button" class="ui-button-secondary" icon="pi pi-pencil"
            (onclick)="editarCliente($event)"></button>
          <button pButton type="button" class="ui-button-secondary" icon="pi pi-trash"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Existem {{ clientes?.length }} clientes
    </ng-template>
  </p-table>
</p-card>