.title {
  color: rgb(14, 165, 165);
  font-family: sans-serif;
  font-weight: 700;
}

:host /deep/ .ui-button-secondary {
  font-size: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 5px;
  margin-top:5px;
  margin-bottom:5px;
}

:host /deep/ .ui-button {
  background-color:rgb(14, 165, 165);
}

:host /deep/ .ui-button-text {
  text-align: center;
}

td{
  text-align: center;
}

.novo{
  float: right;
}