.radio-inline, .row-buttons {
    width: 100%;
    display: table;
    padding-top: 15px;
    padding-bottom: 10px;
}

.button-right {
    float: right;
    width: 50%;
    text-align: end;
}

.button-left {
    float: left;
    width: 50%;
}

.info-icon {
    color: #d4d4d4;
}

.ui-button-rounded {
    border-radius: 20px;
}